# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Runtime data
lib-cov
coverage
coverage.lcov
.nyc_output

# Temporary files
.tmp
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MongoDB dump files
dump/

# Optional lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
